DATABASE_URL="postgresql://neondb_owner:npg_3Fl7VQDyzCqN@ep-winter-base-ae7uof4w-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_API_URL="http://localhost:3000"

FRONTEND_URL="http://localhost:3000"

PORT=3000
